/.gradle/
/build/
/target/
/out/
/classes/
/.idea/
/bin/
/logs/
/ddl/*.ldb
/ddl/.gradle
*.log
*.log.*
*.bat
*.iml
/domain/*.iml
/domain/logs
/domain/target
/domain/out
/domain/.gradle
/cache/cache-ehcache/*.iml
/cache/cache-ehcache/logs
/cache/cache-ehcache/out
/cache/cache-ehcache/target
/cache/cache-ehcache/.gradle
/cache/cache-redis/*.iml
/cache/cache-redis/logs
/cache/cache-redis/out
/cache/cache-redis/target
/cache/cache-redis/.gradle
/server/*.iml
/server/logs
/server/out
/server/target
/server/.gradle
/ui/*.iml
/ui/target/
/ui/logs/
/ui/dist/
/ui/node_modules/
/ui/package-lock.json
/ui/gradle
